<a href="https://colab.research.google.com/github/MeenTers/KKU_data_mining/blob/master/Cafe_sold_food.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Function

In [1]:
import pandas as pd
import os
from matplotlib import pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
path = '/content/drive/My Drive/SIST'
cafe = os.path.join(path,'cafedata.csv')

# Create DataFrame

In [4]:
cafe_df = pd.read_csv(cafe)
cafe_df.head()

   t       Date  ...  Total Items Wasted Unnamed: 22
0  1  1/19/2010  ...                  16         NaN
1  2  1/20/2010  ...                  39         NaN
2  3  1/21/2010  ...                   5         NaN
3  4  1/22/2010  ...                  10         NaN
4  5  1/25/2010  ...                   0         NaN

[5 rows x 23 columns]

In [5]:
cafe_df = cafe_df.drop(columns=['Unnamed: 22'])
cafe_df = cafe_df.dropna()
cafe_df.head()

   t       Date  ...  Max Daily Temperature (F) Total Items Wasted
0  1  1/19/2010  ...                         36                 16
1  2  1/20/2010  ...                         34                 39
2  3  1/21/2010  ...                         39                  5
3  4  1/22/2010  ...                         40                 10
4  5  1/25/2010  ...                         36                  0

[5 rows x 22 columns]

# K-mean

In [6]:
from sklearn.cluster import KMeans

In [7]:
def my_kmean(X):
    KMclust = KMeans(n_clusters=3,random_state=10)
    KMclust.fit(X)
    label = KMclust.predict(X)
    return label

In [9]:
preSales = my_kmean(cafe_df[[' Sales ']])
preSales

array([1, 1, 0, 2, 0, 1, 2, 1, 0, 2, 2, 2, 1, 0, 0, 1, 2, 1, 0, 2, 1, 2,
       1, 2, 2, 1, 2, 1, 0, 2, 1, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 0, 0,
       1, 2, 2], dtype=int32)

In [10]:
preBread = my_kmean(cafe_df[['Bread Sand Sold']])
preBread

array([0, 1, 1, 0, 0, 1, 1, 2, 0, 2, 0, 0, 1, 2, 0, 1, 1, 1, 2, 0, 1, 1,
       0, 0, 1, 1, 1, 0, 2, 0, 1, 0, 0, 1, 1, 0, 0, 2, 0, 1, 0, 1, 2, 2,
       1, 0, 0], dtype=int32)

In [11]:
preWraps = my_kmean(cafe_df[['Wraps Sold']])
preWraps

array([2, 0, 1, 0, 0, 0, 2, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 2, 0, 1, 2, 0,
       2, 0, 1, 2, 1, 2, 0, 0, 2, 1, 1, 1, 2, 1, 1, 0, 1, 1, 0, 2, 0, 0,
       2, 1, 1], dtype=int32)

In [12]:
preCookies = my_kmean(cafe_df[['Cookies Sold']])
preCookies

array([0, 1, 1, 1, 1, 0, 2, 1, 1, 0, 0, 0, 2, 1, 2, 2, 0, 2, 1, 2, 1, 2,
       2, 0, 0, 2, 0, 0, 2, 0, 2, 2, 2, 0, 2, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       2, 2, 0], dtype=int32)

In [13]:
table_kmean = pd.DataFrame(preSales,columns=['Group of Sales'])
table_kmean['Group of Bread Sand Sold'] = preBread
table_kmean['Group of Wraps Sold'] = preWraps
table_kmean['Group of Cookies Sold'] = preCookies
table_kmean.head()

   Group of Sales  ...  Group of Cookies Sold
0               1  ...                      0
1               1  ...                      1
2               0  ...                      1
3               2  ...                      1
4               0  ...                      1

[5 rows x 4 columns]

In [14]:
table_total = cafe_df[[' Sales ','Bread Sand Sold','Wraps Sold','Cookies Sold']]
table_total['Group of Sales'] = preSales
table_total['Group of Bread Sand Sold'] = preBread
table_total['Group of Wraps Sold'] = preWraps
table_total['Group of Cookies Sold'] = preCookies
table_total = table_total.astype(float)
table_total.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

    Sales   Bread Sand Sold  ...  Group of Wraps Sold  Group of Cookies Sold
0   199.95              5.0  ...                  2.0                    0.0
1   195.74              6.0  ...                  0.0                    1.0
2   102.68              8.0  ...                  1.0                    1.0
3   162.88              4.0  ...                  0.0                    1.0
4   101.76              3.0  ...                  0.0                    1.0

[5 rows x 8 columns]

# Definition of Group K-mean

In [15]:
def mygroupby(x,y):
    values = table_total.groupby(x)[y].mean()
    return values

In [16]:
mygroupby('Group of Sales',' Sales ')

Group of Sales
0.0     84.746000
1.0    204.164615
2.0    144.367500
Name:  Sales , dtype: float64

In [17]:
mygroupby('Group of Bread Sand Sold','Bread Sand Sold')

Group of Bread Sand Sold
0.0    3.8
1.0    7.0
2.0    1.5
Name: Bread Sand Sold, dtype: float64

In [18]:
mygroupby('Group of Wraps Sold','Wraps Sold')

Group of Wraps Sold
0.0     6.823529
1.0    14.210526
2.0    21.090909
Name: Wraps Sold, dtype: float64

In [19]:
mygroupby('Group of Cookies Sold','Cookies Sold')

Group of Cookies Sold
0.0    5.222222
1.0    2.000000
2.0    9.500000
Name: Cookies Sold, dtype: float64

# Split train and test

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(table_kmean[['Group of Bread Sand Sold','Group of Wraps Sold','Group of Cookies Sold']],table_kmean['Group of Sales'],test_size=0.3, random_state=6)
X = table_kmean[['Group of Bread Sand Sold','Group of Wraps Sold','Group of Cookies Sold']]

# RF

In [22]:
from sklearn.ensemble import RandomForestClassifier
skRF = RandomForestClassifier()
skRF.fit(X_train, y_train)
skRF.score(X_test,y_test)

0.7333333333333333

# Prediction

In [23]:
from scipy import stats

In [26]:
table_kmean.groupby('Group of Sales').mean()

                Group of Bread Sand Sold  ...  Group of Cookies Sold
Group of Sales                            ...
0                               1.300000  ...               1.100000
1                               0.846154  ...               1.307692
2                               0.458333  ...               0.708333

[3 rows x 3 columns]