<a href="https://colab.research.google.com/github/MeenTers/KKU_data_mining/blob/master/Projectipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import os

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
path = '/content/drive/My Drive/DWDM_material'

In [5]:
anime = os.path.join(path,'anime.csv')

In [6]:
anime_df = pd.read_csv(anime)
anime_df

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12294 rows x 7 columns]

In [10]:
anime_df.isnull().any()

anime_id    False
name        False
genre        True
type         True
episodes    False
rating       True
members     False
dtype: bool

In [7]:
rating = os.path.join(path,'rating.csv')

In [8]:
rating_df = pd.read_csv(rating)
rating_df

         user_id  anime_id  rating
0              1        20      -1
1              1        24      -1
2              1        79      -1
3              1       226      -1
4              1       241      -1
...          ...       ...     ...
7813732    73515     16512       7
7813733    73515     17187       9
7813734    73515     22145      10
7813735    73516       790       9
7813736    73516      8074       9

[7813737 rows x 3 columns]

In [9]:
rating_df.isnull().any()

user_id     False
anime_id    False
rating      False
dtype: bool

In [11]:
merge_tb = anime_df.merge(rating_df,how='left', left_on='anime_id',right_on='anime_id')
merge_tb

         anime_id  ... rating_y
0           32281  ...      5.0
1           32281  ...     10.0
2           32281  ...     10.0
3           32281  ...     10.0
4           32281  ...     -1.0
...           ...  ...      ...
7814819      6133  ...     -1.0
7814820      6133  ...     -1.0
7814821      6133  ...      4.0
7814822     26081  ...     -1.0
7814823     26081  ...     -1.0

[7814824 rows x 9 columns]

## Data Mining

In [12]:
table = merge_tb.groupby('user_id')['name'].apply(list)
table

user_id
1.0        [Tengen Toppa Gurren Lagann, Kiseijuu: Sei no ...
2.0                [Kuroko no Basket, Hyouka, Tamako Market]
3.0        [Fullmetal Alchemist: Brotherhood, Haikyuu!! S...
4.0        [Death Note, Shingeki no Kyojin, Nichijou, Mag...
5.0        [Steins;Gate, Gintama&#039;, Gintama Movie: Ka...
                                 ...
73512.0    [Sen to Chihiro no Kamikakushi, Nana, Ouran Ko...
73513.0    [Sen to Chihiro no Kamikakushi, Cowboy Bebop, ...
73514.0                                 [Majo no Takkyuubin]
73515.0    [Fullmetal Alchemist: Brotherhood, Steins;Gate...
73516.0                 [Ergo Proxy, Highschool of the Dead]
Name: name, Length: 73515, dtype: object

In [13]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.6/dist-packages (1.1.2)

In [14]:
from apyori import apriori

In [17]:
list(apriori(table, min_support = 0.3 , min_confidence = 0.8))

[RelationRecord(items=frozenset({'Code Geass: Hangyaku no Lelouch', 'Code Geass: Hangyaku no Lelouch R2'}), support=0.3248044616744882, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Code Geass: Hangyaku no Lelouch'}), items_add=frozenset({'Code Geass: Hangyaku no Lelouch R2'}), confidence=0.8614929465670887, lift=2.6125176951934463), OrderedStatistic(items_base=frozenset({'Code Geass: Hangyaku no Lelouch R2'}), items_add=frozenset({'Code Geass: Hangyaku no Lelouch'}), confidence=0.9849847372329015, lift=2.6125176951934463)])]