<a href="https://colab.research.google.com/github/MeenTers/KKU_data_mining/blob/master/Quiz2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/data_viz'

In [6]:
province_path = os.path.join(path,'3.-41-58.xls')

In [7]:
province_df = pd.read_excel(province_path)
province_df

   รายได้เฉลี่ยต่อเดือนต่อครัวเรือน จำแนกตามภาค และจังหวัด พ.ศ. 2541 - 2558  ...          Unnamed: 12
0   Average Monthly Income Per Household: 1998 - 2015                        ...                  NaN
1                                                 NaN                        ...         บาท   Baht
2                                      ภาค และจังหวัด                        ...  Region and province
3                                                 NaN                        ...                  NaN
4                                                 NaN                        ...                  NaN
..                                                ...                        ...                  ...
87                                           นราธิวาส                        ...           Narathiwat
88                                                NaN                        ...                  NaN
89                                                NaN                        ...                  NaN
90                                             ที่มา:                        ...                  NaN
91                                            Source:                        ...                  NaN

[92 rows x 13 columns]

In [24]:
province_df.drop([0,1,5,6,11,34,52,90,91])

   รายได้เฉลี่ยต่อเดือนต่อครัวเรือน จำแนกตามภาค และจังหวัด พ.ศ. 2541 - 2558  ...          Unnamed: 12
2                                      ภาค และจังหวัด                        ...  Region and province
3                                                 NaN                        ...                  NaN
4                                                 NaN                        ...                  NaN
7                                       กรุงเทพมหานคร                        ...              Bangkok
8                                         สมุทรปราการ                        ...         Samut Prakan
..                                                ...                        ...                  ...
85                                            ปัตตานี                        ...              Pattani
86                                               ยะลา                        ...                 Yala
87                                           นราธิวาส                        ...           Narathiwat
88                                                NaN                        ...                  NaN
89                                                NaN                        ...                  NaN

[83 rows x 13 columns]

   รายได้เฉลี่ยต่อเดือนต่อครัวเรือน จำแนกตามภาค และจังหวัด พ.ศ. 2541 - 2558  ...              Unnamed: 12
51                                          เพชรบูรณ์                        ...               Phetchabun
52                              ภาคตะวันออกเฉียงเหนือ                        ...      Northeastern Region
53                                         นครราชสีมา                        ...        Nakhon Ratchasima
54                                          บุรีรัมย์                        ...                 Buri Ram
55                                           สุรินทร์                        ...                    Surin
56                                           ศรีสะเกษ                        ...                Si Sa Ket
57                                        อุบลราชธานี                        ...         Ubon Ratchathani
58                                              ยโสธร                        ...                 Yasothon
59                                            ชัยภูมิ                        ...               Chaiyaphum
60                                         อำนาจเจริญ                        ...            Amnat Charoen
61                                             บึงกาฬ                        ...                  Bungkan
62                                        หนองบัวลำภู                        ...         Nong Bua Lam Phu
63                                            ขอนแก่น                        ...                Khon Kaen
64                                           อุดรธานี                        ...               Udon Thani
65                                                เลย                        ...                     Loei
66                                            หนองคาย                        ...                Nong Khai
67                                          มหาสารคาม                        ...            Maha Sarakham
68                                           ร้อยเอ็ด                        ...                   Roi Et
69                                          กาฬสินธุ์                        ...                  Kalasin
70                                             สกลนคร                        ...             Sakon Nakhon
71                                             นครพนม                        ...            Nakhon Phanom
72                                           มุกดาหาร                        ...                 Mukdahan
73                                             ภาคใต้                        ...          Southern Region
74                                      นครศรีธรรมราช                        ...      Nakhon Si Thammarat
75                                             กระบี่                        ...                    Krabi
76                                              พังงา                        ...                 Phangnga
77                                             ภูเก็ต                        ...                   Phuket
78                                       สุราษฎร์ธานี                        ...              Surat Thani
79                                              ระนอง                        ...                   Ranong
80                                              ชุมพร                        ...                 Chumphon
81                                              สงขลา                        ...                 Songkhla
82                                               สตูล                        ...                    Satun
83                                               ตรัง                        ...                    Trang
84                                             พัทลุง                        ...               Phattalung
85                                            ปัตตานี                        ...                  Pattani
86                                               ยะลา                        ...                     Yala
87                                           นราธิวาส                        ...               Narathiwat
88                                                NaN                        ...                      NaN
89                                                NaN                        ...                      NaN
90                                             ที่มา:                        ...                      NaN
91                                            Source:                        ...                      NaN

[41 rows x 13 columns]